.container {
  max-width: 928px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h1, h2, p, a {
  font-family: 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: 100;
  margin-bottom: 20px;
}

a {
  text-decoration:none;
  font-size:18px;
  font-weight: 200;
  background-color:rgba(238,68,95,0.9);
  transition:0.5s;
  color:white;
  padding: 15px 25px;
  border-radius:5px;
}

a:hover {
	transition:0.5s;
  text-decoration:none;
  color:white;
  background-color:pink;
}

.main {
  height: 550px;
  padding-top: 55px;
  background:url(https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/intro.jpg) no-repeat center center;
  background-size:cover;
}

p {
  font-size: 26px;
  font-weight: 200;  
  margin-bottom: 40px;
}

.main .container {
	top:100px;
}
.section .row {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #dbdbdb;
}

.store {
  text-align: center;
  border-bottom: 0px;
  padding-bottom:100px
}

.footer {
  border-top: 1px solid #dbdbdb;
  background-color: #f3f3f3;
  padding: 20px 0px 80px;
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer li {
  color: #555555;
  font-weight: 600;
}

@media (max-width: 500px) {
  .col-md-6 img {
    padding: 50px;
    width: 100%;
  }
}
