html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background:rgb(33, 12, 12);
  color:white;
}

.container {
  max-width: 940px;
}

.logo {
	width:50px;
  height:50px;
}

.header .container {
	text-align:center;
  padding:30px;
  border-bottom:1px solid white;
}

.main {
	padding:60px 0;
}

.btn {
	text-decoration:none;
  padding:15px;
  margin:30px 0;
  color:white;
  background:rgb(33, 79, 27);
  border:none;
}

.footer .container {
	border-top: 1px solid white;
}

.footer ul {
	list-style:none;
}

.footer li {
	display:inline;
}

.footer a {
  color:white;
  text-decoration:none;
}
