html, body {
  margin: 0;
  padding: 0;
  background:black;
  color:white;
}

.container {
	max-width:940px;
}

ul {
	list-style:none;
}

li {
	display:inline;
}

a {
	text-decoration:none;
}

.jumbotron {
	background: url(https://s3.amazonaws.com/codecademy-content/projects/bass/bg.jpg) no-repeat center center;
}

.logo {
	width:100px;
  height:100px;
}

.btn-default {
 	background:rgb(255,0,0);
 	border:0;
  
}
