html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  background:url(https://s3.amazonaws.com/codecademy-content/projects/junction/bg.jpg) no-repeat center center fixed;
  background-size:cover;
}

.container {
  max-width:940px;
}

/* Header */
.header {
  padding: 10px 0;
	color:rgba(0,0,0,.5);
}
ul {
	display:inline;
}
a {
	text-decoration:none;
}

/* Jumbotron */
.jumbotron {
  position: relative;
  top: 50px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}

/* Supporting */
.supporting {
  margin-top: 40px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}
