html, body {
  margin: 0;
  padding: 0;
  color:white;
  font-family:'Lato', Sans-serif;
  background-color:#F2F2F2;
}

ul {
	list-style:none;
}

li {
	display:inline-block;
}

a {
	text-decoration:none;
}

p {
	font-size:.5em;
}

h1,h2,h3,h4,h5,h6 {
 font-family:'Montserrat', sans-serif;
}

.header {
	background:black;
  vertical-align:middle;
}

.logo {
	width:200px;
  height:100px;
}

.jumbotron {
	background: url(https://s3.amazonaws.com/codecademy-content/projects/newsroom/bass-bg.jpg) no-repeat center center;
  background-size:cover;
  vertical-align:middle;
  height:500px;
}

.jumbotron .container h4 {
	padding:15px 0;
  font-weight:0;
  font-family:'Montserrat', sans-serif;
}

.underline-text-title {
  border-bottom: solid .1em #1A77FF;
  display: inline;
  padding-bottom: 3px;
}
  
.underline-text {
  border-bottom: solid .15em #1A77FF;
  display: inline;
  padding-bottom: 1px;
  font-weight:600;
}

.row {
	padding:5px;
  margin:15px;
}

button {
	text-align:center;
  background:black;
  border:transparent;
  border-bottom:1px solid #1A77FF;
  color:white;
  font-size:12px;
  font-family:'Montserrat',Sans-serif;
  height:25px;
}
#search {
	width:250px;
  background:black;
  border-radius:0;
  border:0;
  border-bottom:1px solid white;
  font-size:12px;
  height:25px;
}
#search:focus {
	border-bottom:1px solid #1A77FF;
}

.nav {
	background-color:rgb(21, 34, 48);
  height:35px;
}

.btn {
	border:none;
  border-radius:0px;
  height:35px;
  vertical-align:middle;
  font-size:.9em;
  font-family:'Lato',sans-serif;
  font-weight:100;
  margin:0;
  background-color:rgb(21, 34, 48);
  color:white;
  transition:.5s;
}

.btn:hover {
	transition:.5s;
  background-color:#1A77FF;
}

.pressed {
  background:#1A77FF;
}

.wh {
	color:black;
  background-color:white;
}

.bl {
	background-color:rgb(21, 34, 48);
}
.main {
	margin:15px 15px 0 ;
}

.date {
	color:gray;
}

.support .container {
  margin:30px;
  text-align:center;
}

.footer {
	background-color:rgb(21, 34, 48);
  vertical-align:middle;
}
