html, body {
  margin: 0;
  padding: 0;
  color:white;
  font-family:'Lato', Sans-serif;
  background-color:#F2F2F2;
}

.container {
	max-width:980px;
}

ul {
	list-style:none;
}

li {
	display:inline-block;
}

a {
	text-decoration:none;
}

.underlined {
	text-decoration:underline;
}

.header {
	background:black;
}
.logo {
	width:200px;
  height:100px;
}

.jumbotron {
	background: url(https://s3.amazonaws.com/codecademy-content/projects/newsroom/bass-bg.jpg) no-repeat center center;
  background-size:cover;
  vertical-align:middle;
  height:500px;
}

button {
	text-align:center;
  background:black;
  border:transparent;
  border-bottom:1px solid #1A77FF;
  font-family:'Lato',Sans-serif;
  color:white;
}

#search {
	width:250px;
  background:black;
  border-radius:0;
  border:0;
  border-bottom:1px solid white;
}
#search:focus {
	border-bottom:1px solid #1A77FF;
}

.nav {
	background-color:rgb(21, 34, 48);
  height:35px;
}

.btn {
	border:none;
  border-radius:0px;
  height:35px;
  vertical-align:middle;
  font-size:.8em;
  font-family:'Lato',sans-serif;
  font-weight:100;
  margin:0;
  background-color:rgb(21, 34, 48);
  color:white;
  transition:.5s;
}

.btn:hover {
	transition:.5s;
  background-color:#1A77FF;
}

.pressed {
  background:#1A77FF;
}

.wh {
	color:black;
  background-color:white;
  padding:15px;
}

.bl {
	background-color:rgb(21, 34, 48);
  padding:15px;
}

.support .container {
	background:url(https://s3.amazonaws.com/codecademy-content/projects/newsroom/ad.jpg) no-repeat center center;
  background-size:cover;
  width:80%;
}

.footer .container {
  background-color:rgb(21, 34, 48);
  vertical-align:center;
}
