html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  background:url(https://s3.amazonaws.com/codecademy-content/projects/junction/bg.jpg) no-repeat center center fixed;
  background-size:cover;
  color:#fff;
}

.container {
  max-width:940px;
  text-align:left;
}

/* Header */
.header {
  background:rgba(0,0,0,.5);
  padding:10px;
}
img.top-pic {
	height:36px;
  width:36px;
  float:left;
  vertical-align:middle;
  text-align:center;
  margin: 10px;
}
.nav li {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 10px 0;
}
.nav a {
	text-decoration:none;
  color:white;
}
.nav a:hover {
	  background:rgba(0,0,0,.5);
}

/* Jumbotron */
.jumbotron {
  position: relative;
  top: 50px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
  background:rgba(0,0,0,.0);
}
h1, h3, p {
  text-align:center;
  padding: 0 35px;
}


/* Supporting */
.supporting .col-md-4 {
  margin-top: 40px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}

img.pic {
  height: 125px;
  width: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer .container {
  display:block;
	padding-right: 15px;
  padding-left: 15px;
  text-align:center;
  margin-right: auto;
  margin-left: auto;
}
.btn {
  padding: 5px 50px;
  margin-top:100px; 
  vertical-align:middle;
	display: inline-block;
	position:relative; 
  background:rgba(0,255,188,0.5);
  border: none;
  border-radius: 8px;
}
